button {
  background-color: rgb(57,117,233);
  color: white;
  border: none;
  width: 500px;
  font-size: 18px;
  padding: 12px 80px;
  border-radius: 8px;
  display: block;
  cursor: pointer;
}

input {
  border: 1px  solid rgb(205,206,205);
  font-size: 18px;
  padding: 12px 12px 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#email {
  width: 470px;
  display: block;
}

