p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  background-color: rgb(33,33,32);
  width: 360px;
  padding: 20px 16px;
  margin: 20px 20px;
}

.title {
  color: rgb(247,247,247);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  color: rgb(157,156,157);
}